.campaignCard {
  position: relative;
  width: 420px;
  height: 450px;  
  overflow: visible;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  border-radius: 18px;
}

.cardImgWrapper {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 18px 18px 0 0;
  position: relative;
  z-index: 1;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBody {
  position: absolute;
  left: 0; right: 0; bottom: 0;
  height: 270px;           
  background: #fff;
  border-radius: 0 0 18px 18px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.06);
  padding: 24px 18px 32px 18px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  z-index: 2;
  transition: height 0.3s cubic-bezier(.8,.4,.3,1.1), box-shadow 0.3s;
  overflow: hidden;
}

.campaignCard:hover .cardBody {
  height: 310px;           
  box-shadow: 0 8px 24px rgba(0,0,0,0.12);
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 4px;
}

.cardNgo {
  display: flex;
  gap: 2px;
  color: #FF416C;
  margin-bottom: 10px;
  font-size: 14px;
  align-items: center;
}

.verifiedIcon {
  width: 18px;
  height: 18px;
  margin-left: 4px;
}

.cardDesc {
  color: #444;
  margin-bottom: 16px;
  min-height: 40px;
  font-size: 0.96rem;
}

.cardGoal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  align-items: center;
}

.cardGoal b {
  font-size: 20px;
}

.verified {
  display: flex;
  background-color: #FF416C;
  color: white;
  gap: 5px;
  width: 70px;
  border-radius: 50px;
  padding: 3px 3px;
  font-size: 11px;
  align-items: center;
}

.shieldIcon {
  width: 15px;
  height: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.donateBtn {
  background: #FF416C;
  color: #fff;
  width: 100%;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  font-size: 1.1rem;
  box-shadow: 0 3px 8px rgba(249,71,138,0.13);
  opacity: 0;
  pointer-events: none;
  margin-top: 16px;
  align-self: center;
  z-index: 3;
  position: relative;
  transition: opacity 0.8s;
  text-decoration: none;
  text-align: center;
}

.campaignCard:hover .donateBtn {
  opacity: 1;
  pointer-events: auto;
}
